<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cs.project.project">
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_training"
        android:label="Open Course"
        android:roundIcon="@drawable/ic_training"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".AdminHome"></activity>
        <activity android:name=".AdminLogin" />
        <activity android:name=".DepartmentView" >
        </activity>
        <activity android:name=".DepartmentHome" />
        <activity android:name=".DepartmentLogin" />
        <activity android:name=".StatusApplication" />
        <activity android:name=".EditApplication" />
        <activity android:name=".ApplyApplication" />
        <activity android:name=".Home2" />
        <activity android:name=".Login" />
        <activity android:name=".Registeration" />
        <activity android:name=".HomeUi" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>